<div class="form-container">
  <h1 class="text-center">Crear Interacción</h1>
  <form [formGroup]="interaccionForm" (ngSubmit)="crearInteraccion()">
    <div class="mb-3">
      <label class="form-label">Cliente</label>
      <input
        type="text"
        class="form-control"
        formControlName="cliente"
        placeholder="Ingrese el nombre del cliente"
      />
    </div>

    <div class="mb-3">
      <label class="form-label mr-4">Llamadas</label>
      <div class="inline-flex items-center">
        <label class="inline-flex items-center text-white">
          <input
            type="radio"
            class="form-radio h-5 w-5 text-purple-600"
            formControlName="llamadas"
            [value]="true"
            
          />
          <span class="ml-2">Sí</span>
        </label>
        <label class="inline-flex items-center text-white ml-4">
          <input
            type="radio"
            class="form-radio h-5 w-5 text-purple-600"
            formControlName="llamadas"
            [value]="false"
          />
          <span class="ml-2">No</span>
        </label>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label mr-8">Correos </label>
      <div class="inline-flex items-center">
        <label class="inline-flex items-center text-white">
          <input
            type="radio"
            class="form-radio h-5 w-5 text-purple-600"
            formControlName="correos"
            [value]="true"
          />
          <span class="ml-2">Sí</span>
        </label>
        <label class="inline-flex items-center text-white ml-4">
          <input
            type="radio"
            class="form-radio h-5 w-5 text-purple-600"
            formControlName="correos"
            [value]="false"
          />
          <span class="ml-2">No</span>
        </label>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label mr-2">Reuniones </label>
      <div class="inline-flex items-center">
        <label class="inline-flex items-center text-white">
          <input
            type="radio"
            class="form-radio h-5 w-5 text-purple-600"
            formControlName="reuniones"
            [value]="true"
          />
          <span class="ml-2">Sí</span>
        </label>
        <label class="inline-flex items-center text-white ml-4">
          <input
            type="radio"
            class="form-radio h-5 w-5 text-purple-600"
            formControlName="reuniones"
            [value]="false"
          />
          <span class="ml-2">No</span>
        </label>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Comentarios</label>
      <input
        type="text"
        class="form-control"
        formControlName="comentarios"
        placeholder="Ingrese comentario de la interacción"
      />
    </div>

    <div class="button-container">
      <button
        type="submit"
        class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-bold rounded-lg text-lg px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
