body {
  background-color: #1a1a1a00;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-width: 100%;


}

.form-container h2 {

  font-weight: bold;
  font-size: 40px;
  color: #ae00ff;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form-container .form-label  {
  font-weight: 500;
  color: #bcc4cc;
  font-size: 20px;
}

.form-container .form-checkbox {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
}

.form-container .btn {
  height: 45px;
  font-size: 18px;
  font-weight: bold;

}

.form-container {
  margin: 0 auto;
  margin-top: 5%;
}

.button-container {
  display: flex;
  justify-content: right;
}
.size{
  font-size: 25px;

}
 .radio-group {
      display: flex;
      gap: 20px;
    }
    .radio-label {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: background-color 0.3s, border-color 0.3s;
    }
    .radio-label input {
      display: none;
    }
    .radio-custom {
      width: 20px;
      height: 20px;
      border: 2px solid #ddd;
      border-radius: 50%;
      position: relative;
      transition: border-color 0.3s;
    }
    .radio-custom::after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #8c00ff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.3s;
    }
    .radio-label input:checked + .radio-custom {
      border-color: #8400ff;
    }
    .radio-label input:checked + .radio-custom::after {
      transform: translate(-50%, -50%) scale(1);
    }
  .opcion-color{
    color: #bcc4cc;
  }
